<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeoLens AR</title>
    <script src="https://aframe.io/releases/1.6.0/aframe.min.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/AR-js-org/AR.js/aframe/build/aframe-ar.min.js"></script>
    <style>
        body {
            margin: 0;
            overflow: hidden;
        }
        #backButton {
            position: fixed;
            top: 10px;
            left: 10px;
            z-index: 999;
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            padding: 15px;
            border-radius: 5px;
            cursor: pointer;
            font-size: 1.3em;
        }
    </style>
</head>
<body style="margin: 0; overflow: hidden;">
  <%= yield %>
</body>
</html>
