<button id="backButton" onclick="window.location.href='/'">&larrhk; Back</button>
<a-scene embedded arjs='detectionMode: mono_and_matrix; matrixCodeType: 3x3;'>
    <!-- Custom marker -->
    <a-marker type='barcode' value='0'>
        <!-- Simple primitive (box) -->
        <!-- <a-box position="0 0.5 0" color="red" scale="0.5 0.5 0.5"></a-box> -->
        <a-entity id="mavic-air" position="0 0 0" scale="20 20 20" gltf-model=”url(/3d-models/mavic.gltf)”></a-entity>
        <a-entity id="left-front-rotor" anchored="persistent: true" position="1.864 0.866 1.319" text="value: Left-Front Rotor; align: center; width: 6; color: white;"></a-entity>
        <a-entity id="right-front-rotor" anchored="persistent: true" position="-1.35524 0.866 1.319" text="value: Right-Front Rotor; align: center; width: 6; color: white;"></a-entity>
        <a-entity id="left-rear-rotor" anchored="persistent: true" position="1.658 1.220 -1.533" text="value: Left-Rear Rotor; align: center; width: 6; color: white;"></a-entity>
        <a-entity id="right-rear-rotor" anchored="persistent: true" position="-1.658 1.220 -1.533" text="value: Right-Rear Rotor; align: center; width: 6; color: white;"></a-entity>
    </a-marker>

    <!-- Camera -->
    <a-entity camera></a-entity>
</a-scene>